header {
  font-family: "Rubik Spray Paint", cursive;
  display: flex;
  justify-content: center;
  margin: 50px;
}
h1 {
  text-align: center;
  font-size: 60px;
  text-shadow: 5px 2px 10px black;
  color: var(--bs-primary);
}
.btn-difficulty {
  margin: 15px;
  box-shadow: 5px 2px 10px black;
}

.card {
  min-width: 60px;
  min-height: 60px;
  transition: all 0.2s linear;
  padding: 0;
  border: none;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.16);
}
.main {
  margin: 10px;
}
.close {
  background: #eae8e8 url(./img/close.svg) no-repeat center;
}
.close:hover {
  background: url(./img/close.svg) no-repeat center;
}
.ok {
  opacity: 0.9;
}
.card div {
  display: block;
}
.card div + div {
  display: none;
}
.card.flip {
  transform: perspective(100px) rotateX(180deg);
}
.card.flip div {
  display: none;
}
.card.flip div + div {
  display: block;
}
.card.success {
  background: url(./img/ok.svg) no-repeat center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transform: rotateY(180deg) scaleX(-1);
  box-shadow: inset 5px 2px 10px black;
}

/* .win {
  display: none;
} */
@keyframes circle-to-square {
  from {
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(0px);
    transform: scaleZ(0);
    top: 100%;
  }
  40% {
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(3px);
    transform: scaleZ(0.2);
    top: 0;
  }
  to {
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    transform: scaleZ(1);
  }
}

.win {
  animation-name: circle-to-square;
  display: none;
  font-family: "Rubik Spray Paint", cursive;

  /* transition: ease-in-out 2s; */
  /* position: absolute; */
  /* top: 30%;
  left: -3%;
  width: 110vw; */
  background: rgba(232, 154, 239, 0.2);
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  text-align: center;
  transform: scaleZ(1);
  padding: 80px 20px;

  animation-duration: 5s;
  animation-iteration-count: 1;
}
.win .win__text {
  text-align: center;
  font-size: 80px;
  text-shadow: 5px 2px 10px black;
  color: var(--bs-primary);
  margin: 0;
}
